/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Index Page Styling */

/* Layout Styling */

body {
    width: 80%;
    max-width: 1200px;
    min-width: 320px;
    margin: 4em auto 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: #87cefa;
    background-image: url(../images/wave.svg);
    background-size: cover;
    background-position: 0 20rem;
    background-repeat: no-repeat;
}

/* Content Styling */

h1 {
    font-family: Urbanist, Arial, Helvetica, sans-serif;
    ;
    font-size: 3rem;
    font-weight: 900;
}

h1+p {
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0.5rem;
}

p+h2 {
    margin-top: 1.5rem;
}

h2+h3 {
    margin-top: 3rem;
}

h3 {
    font-size: 2.5rem;
}

ul+h3 {
    margin-top: 3rem;
}

h3+ul {
    margin-top: 1rem;
}

h4 {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

ul {
    line-height: 1.55;
    list-style: lower-roman
}

li {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    background-color: #6C63FF;
}

img {
    float: right;
    height: 450px;
    margin-top: 8rem;
}

img+p {
    float: right;
}

p>a {
    font-weight: 600;
    text-decoration: underline;
}

@media screen and (max-width : 900px) {
    img {
        display: none;
    }
}