a {
    display: inline-block;
    text-decoration: none;
    background-color: #01b0d3;
    border: 0.25px solid whitesmoke;
    color: #ffffff;
    margin-right: 5px;
    padding: 5px 8px;
    border-radius: 20px;
}

h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 0.75em;
}

ul {
    margin: 15px;
    list-style: circle;
    font-size: larger;
    line-height: 1.4em;
}