/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------------------------------------------
 END OF RESET
 ------------------------------------------------------ */

/* ------------------------------------------------------
 LAYOUT STYLING
 ------------------------------------------------------ */

body {
    width: 80%;
    max-width: 1080px;
    min-width: 480px;
    margin: 2em auto 0;
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

section:nth-of-type(even) figure {
    float: right;
    margin-left: 1.5rem;
}

section:nth-of-type(odd) {
    background-color: #242424;
}

section:nth-of-type(odd) figure {
    float: left;
    margin-right: 1.5rem;
}

/* ------------------------------------------------------
 NAVIGATION STYLING
 ------------------------------------------------------ */

nav {
    background-color: #242424;
    border-radius: 5px;
    padding: 1em 1em;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav li {
    cursor: pointer;
    padding: 0.75em;
    background-color: #d77524;
    border-radius: 5px;
}

nav li:hover {
    background-color: rgba(215, 117, 36, 0.75);
}

a {
    color: #ffffff;
    text-decoration: none;
}


/* ------------------------------------------------------
 CONTENT STYLING
 ------------------------------------------------------ */
header {
    margin-top: 2.5em;
    text-align: center;
}

h1 {
    display: inline;
    font-size: 5rem;
    font-weight: 700;
    font-family: Urbanist, Arial, Helvetica, sans-serif;
    color: #ff7300;
}

h1+h1 {
    color: #ffffff;
}

h2 {
    font-size: 2.5rem;
}

section {
    margin-top: 3em;
    display: inline-block;
    padding: 1.5em;
    border-radius: 5px;
}

h2+p {
    margin-top: 0.5em;
}

p {
    font-size: 1.5rem;
    line-height: 1.55;
}

p+p {
    margin-top: 1rem;
}

section li {
    font-size: 1.5rem;
    list-style-type: decimal;
    line-height: 1.55;
}

figcaption {
    text-align: center;
    margin: 1em 0 0;
    font-weight: 200;
}

footer {
    padding-top: 4em;
    padding-bottom: 1em;
}